/* Ajustes de estilo */
html {
    scroll-behavior: smooth;
    /* Rolagem suave */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 56px;
    /* Compensação da navbar fixa */
}

/* Estilo das seções */
section {
    padding: 60px 20px;
    min-height: 100vh;
}

#inicio {
    background-color: #e6ffe6;
}

#projeto {
    background-color: #ccffcc;
}

#cadastro {
    background-color: #b3ffb3;
}

#contato {
    background-color: #99ff99;
}

/* Estilo do footer */
footer {
    background-color: #004d26;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Ajuste dos links do footer */
.footer-content a {
    color: #99ff99;
    text-decoration: none;
    margin: 0 5px;
}

.footer-content a:hover {
    color: white;
}
.sytle_gif{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-card{
    display: flex;
    /* justify-content: center;
    text-align: center; */
    margin: 10px;
    padding: 20px;
    background-color: rgb(214, 214, 214);
}
.input-link{
    margin-top: 14px;
}